.countdown {
	height: 480px;
	width: 480px;
	background-color: rgba(221,221,221, 0.5);
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
}

.timer {
	font-size: 10rem;
}
