.countdown {
  height: 100%;
  width: 100%;
  background-color: rgba(221, 221, 221, 0.5);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.timer {
  font-size: 10rem;
}
