/* Font Rules */
@import url('https://use.typekit.net/lun3cxn.css');

body {
    font-family: 'fira-sans';
    margin: 0;
}

h1, h2, h3, p {
    font-weight: 500;
    margin: 0;
}

/* Links and Buttons rules */
a {
    text-decoration: none;
    color: inherit;
}
